# Gradle
.gradle/
build/
out/
classes/

# Eclipse
*.launch
.settings/
.metadata
.classpath
.project

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Minecraft
run/
logs/
crash-reports/

# NeoForge
src/generated/

# Other
bin/
*.log
